* {
  box-sizing: border-box;
}

body {
  font-family: 'outfit';
  background-color: #d5e1ef;
}

img {
  width: 100%;
}

.qr-component {
  width: 320px;
  height: 497px;
  border-radius: 20px;
  margin: 100px auto;
  background-color: white;
}

.qr-component img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  margin: 15px;
}

.description {
  width: 288px;
  height: 129px;
  margin: 15px;
  text-align: center;
}

.description .heading {
  color: #1f314f;
  font-size: 22px;
  font-weight: bold;
}

.description .message {
  font-size: 15px;
  color: #7d889e;
  padding: 0 16px;
}
