* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'outfit';
  background-color: #d5e1ef;
}

img {
  width: 100%;
}

.qr-component {
  width: 320px;
  height: 497px;
  margin: 152px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
}

.qr-component img {
  border-radius: 16px;
}

.description {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description h1 {
  font-size: 22px;
  text-align: center;
  color: #1f314f;
  font-weight: 700;
}

.description p {
  font-size: 15px;
  color: #7d889e;
  text-align: center;
  font-weight: 400;
  margin-top: 16px;
  width: 256px;
  height: 57px;
}
